*~
*#
*.dat

.cache/
eshell/
url/
auto-save-list/
irony/
elpa/
custom.el
session.*
.python-environments/
bookmarks
projectile-bookmarks.eld
anaconda-mode/
srecode-map.el
semanticdb/
transient/
tramp
elpy
recentf

.lsp*
*.elc